*
{
    margin: 0;
    padding: 0;
}


html {
    background: #000;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.436);
    padding: 32px 32px 32px 0;

    .inverted {
        flex-direction: row-reverse;
    }

    .reveal {
        height: 800px;
    }

    div {
        display: flex;
        gap: 10%;
        align-items: center;
        color: white;
        margin-bottom: 10%;

        img {
            width: 30%;
            height: auto;
        }

        p {
            font-family: 'Be Vietnam Pro';
            font-size: 24px;
            max-width: 40%;
        }
    }

    div:first-of-type {
        margin-top: 180px;
    }
}

@media screen and (max-width: 600px) {
    .content div {
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
        }

        p {
            font-size: 16px;
            max-width: none;
            padding: 16px;
        }
    }
}